

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #202020;
}

.card {
  margin-top: 5%;
  margin-left: 33%;
  right: 0;
  margin-bottom: -30%;
  left: 0;
  width: 350px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
  
}
@media (max-width: 1000px) {
    .card{
        margin-left: 10%;
    }
}
.ds-top {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 100px;
    background: blueviolet;
    animation: dsTop 1.5s;
}

.avatar-holder {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,;
  background: white;
  overflow: hidden;
  animation: mvTop 1.5s;
 
}
.avatar-holder  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.name {
  position: absolute;
  margin: auto;
  top: -250px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
  
}
.name a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  
  }
.name a :hover {
    text-decoration: underline;
    color: crimson;
}
  
.name h6 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    width: 40px;
  } 
.pens, .projects, .posts {
    position: relative;
    left: -300px;
    width: calc(350px / 3);
    padding-left: 15px;
    text-align: center;
    color: white;
    animation: fadeInMove 2s;
    animation-fill-mode: forwards;
}
h6 {
    text-transform: uppercase;
    color: blueviolet;
}
p {
    font-size: 12px;
}
.ds-info {
    position: absolute;
    margin: auto;
    top: 220px;
    bottom: 0;
    right: 0;
    left: 45px;
    width: inherit;
    height: 40px;
    display: flex;
}
.ds-skill {
  position: absolute;
  margin: auto;
  margin-top: 60%;
  right: 0;
  left: 0;
  width: 200px;
  height: 100px;
}
.ds-skill  h6 {
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    color: blueviolet;
}
.ds-skill .skill h6 {

      font-weight: 400;
      font-size: 8px;
      letter-spacing: 0.05em;
      margin: 4px 0;
      color: white;

}
.ds-skill .skill  .fab {
    color: white;
    font-size: 14px;
}

.ds-skill .skill .bar {
    height: 5px;
    background: blueviolet;
    text-align: right;
}

.ds-skill .skill p {
    color: white;
    font-size: 8px;
    padding-top: 5px;
    animation: fadeIn 5s;
}

.ds-skill .skill p  :hover {
    background: white;
}

.ds-skill .bar-html {
    width: 95%;
    animation: htmlSkill 1s;
    animation-delay: .4s;
}

.ds-skill  .bar-css {
    width: 90%;
    animation: cssSkill 2s;
    animation-delay: .4s;
}

.ds-skill .bar-js {
    width: 75%;
    animation: jsSkill 3s;
    animation-delay: .4s;
}

.but-resume{
    margin-top: 140%;

   
}
.but-resume button{
    margin-left: 20%;
    width: 5cm;
    color: white;
    background-color: blueviolet;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes htmlSkill {
  0% {width: 0;}
  100% {width: 95%;}
}

@keyframes cssSkill {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes jsSkill {
  0% {width: 0;}
  100% {width: 75%;}
}

@keyframes mvBottom {
  0% {bottom: -150px;}
  100% {bottom: 10px;}
}

@keyframes mvTop {
  0% {top: -150px;}
  100% {top: 40px;}
}

@keyframes dsTop {
  0% {top: -150px;}
  100% {top: 0;}
}

.following {
  color: white;
  background: crimson;
}

@media (max-width: 1000px) {
    #footer{
        margin-top: 15%;
    }
}