*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.nav-item{
    /* padding-right: 13vw; */
    padding-left: 10vw;
}
.nav-image{
    width: 14vw;
    height: 14vw;
}
.navbar-area{
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: -5%;
}
.navbar-brand{
    font-weight: 900;
    font-size: xx-large;
}
.rest-body{
    padding-left: 5vw;
}
.text1{
    margin-top: 2vw;
    line-height: 2vw;
    text-align: center;
    /* font-size: larger; */
}
.texty{
    font-weight: 800;
    font-size: 5vw;
    padding-top: 10vw;
}
#button-show{
    width: 10vw;
    align-items: center;
    border-radius: 2vw;
    background-color: blueviolet;
}
.button{
    text-align: center;
    margin-top: 4%;
}
@media screen and (max-width: 1000px){
    body{
        overflow-x: hidden;
    }
    #image1{
        width: 74vw;
        height: 50vh;
    }
    .texty{
        padding-bottom: 5vw;
        font-size: 10vw;
        margin-top: 18vw;
    }
    .text1{
        margin-top: -18%;
        font-size: 4vw;
        font-weight: 200;
        line-height: 6vw;
        text-align: start;
    }
    .text1b{
        display: none;
    }
    .button{
        text-align: start;
    }
    #button-show{
        margin-top: 2vw;
        width: 50vw;
        border-radius: 12vw;
        text-align: center;
    }
}
#second-page{
    padding: 10vw;
    /* background-color: #e1ad00; */
    background-color: blueviolet;
    margin-top: -.02vw;
}
/* second page  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#second-page-row{
    margin-top: -13vw;
}
.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: blueviolet;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Profile';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 370px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  margin-top: 10%;  
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 10%;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #e1ad00;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: blueviolet;
  border-radius: 4vw 0vw 4vw 0vw;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  width: 13vw;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 20%;
}
.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

@media screen and (max-width: 1000px){
    #second-page-row{
        display: grid;
        gap: 5vw 100px;
        margin-top: 1vw;
    }
    .col-3{
        margin-left: -7vw;
    }
    .container .card .contentBx a{
        display: inline-block;
        padding: 10px 20px;
        background: blueviolet;
        border-radius: 4vw 0vw 4vw 0vw;
        text-decoration: none;
        font-weight: 600;
        color: #fff;
        width: 30vw;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
        margin-top: 10%;
      }
}
.carousel-inner{
    padding: 4vw;
}
#third-page{
    margin-top: -10%;
}
.cursor {
    position: fixed;
    border-radius: 25%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    /* background-color: black; */
    background: rgba(255, 25, 205, 0.05);
    z-index: 10000;
    border: 2px solid white;
    height: 5vw;
    width: 5vw;
    transition: all 300ms ease-out;
  }
#col-text{
    margin-top: 4vw;
}
#col-text-1{
    margin-top: 4vw;
}

/* arrow animation  */
.msg-icn {
    display: inline-block;
    position: relative;
    padding:  15px 20px;
    color: white;
    box-sizing: border-box;
    max-width: 300px;
    min-width: 80px;
    min-height: 38px;
  }
  .msg-icn:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #e5a002;
    border-radius: 2px;
    box-sizing: border-box;
    clip-path: polygon(0% 105%, 0% 0%, 105% 0%, 105% 105%, 43px 105%, 43px 80%, 21px 80%, 21px 105%);
  }
  .msg-icn:after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 20px;
    background: #e5a002;
    top: calc(100% - 1px);
    left: 20px;
    box-sizing: border-box;
    clip-path: polygon(0 0, 0% 100%, 100% 0%, calc(100% - 2px) 0, 1px calc(100% - 2px), 1px 0);
  }

/* page three  */
.third-page{
  background-color: black;
  color: #fff;
}
#glow{
  border-radius: 2px #e5a002;
}
#checky{
background-color: blueviolet;
width: 10vw;
height: 2.5vw;
border-radius: 1vw;
}
#bottom-row{
  align-items: center;
  text-align: center;
  padding-bottom: 4vw;
}

/* 4th page  */
#blogs{
  /* height: 34vw; */
  font-family: 'poppins', sans-serif;
 padding: 5vw;
  background-color: black;
}
.profile{
  margin-bottom: 30px;
  text-align: center;
}

.profile img{
  display: block;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin: 0 auto;
}

.profile h5{
  color: #ffff;
  margin: 10px 0 5px;
}

.profile p{
  color: rgb(0,0,0);
  font-size: 2vw;
}

#linkedin{
  font-size: 2.5vw;
  padding-right: 2vw;
}
#medium{
  font-size: 2.5vw;
}
/* #fourth-page{
  background-color: black;
} */

/* Footer page  */
 
footer{
  background: blueviolet;
  padding: 90px 0;
}
 
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
 
.logo{
  width: 180px;
}
 
.social-media{
  margin: 20px 0;
}
 
.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
 
.social-media a:hover{
  color: #ffff;
}
 
.right-col h1{
  font-size: 26px;
}
 
.border{
  width: 100px;
  height: 4px;
  background: #ffff;
}
 
.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 
.txtb{
  flex: 1;
  padding: 8px 40px;
  font-size: 16px;
  color: #293043;
  background: #ffff;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
 
.btn-4{
  padding: 8px 40px;
  font-size: 16px;
  color: #000;
  background: #ffff;
  border: none;
  /* font-weight: 700; */
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
 
.btn:hover{
  opacity: .7;
}
 
.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }
 
  .left-col{
    width: 100%;
    text-align: center;
  }
}
 
 
@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
  }


/* code steal  */
.c6k41xx{
  cursor: default;
    transform: translateY(-50%) scale(1);
    opacity: 1;
    filter: none;
}
.c1j8zajy {
  scroll-snap-align: start;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background: #0000;
  border: none;
  flex: 1 0 auto;
  transition: left .5s cubic-bezier(0,.89,.44,1),transform .5s cubic-bezier(0,.89,.44,1),filter .5s cubic-bezier(0,.89,.44,1),opacity .5s cubic-bezier(0,.89,.44,1);
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  padding: 1px 6px;
}

.a1qqqnmy {
  transform: scale(1.1);
  box-shadow: 0 5px 15px #0000004d;
}
@media (min-width: 768px){
  .i1blr65t {
    width: 250px;
  }
}
.i1blr65t {
  z-index: 4;
  border-radius: 1rem;
  margin: .5rem;
  display: inline-flex;
  transition: transform .7s cubic-bezier(0,.89,.44,1);
}

@media (min-width: 768px){
  .aqnmgph {
    left: 260px;
}
}
.aqnmgph {
  opacity: 1;
  visibility: visible;
  overflow: scroll;
  left: 0;
  filter: none;
  transform: scale(1);
}
@media (min-width: 768px){
  .ce67nqb {
    width: 300px;
    height: 380px;
}
}
.ce67nqb {
  font-style: normal;
  border-radius: 1rem;
  text-align: left;
  background: #ffff;
  padding-left: 14px;
  max-width: 300px;
  display: block;
  flex-wrap: wrap;
  color: var(--c4b5a1d69);
  transition: all .7s cubic-bezier(0,.89,.44,1);
  /* position: absolute; */
}

.ce67nqb>div {
  padding: 1.0333rem 1.55rem;
  font-size: 1rem;
}
@media (min-width: 550px){
  .t1bll7bi {
    height: calc(100% - 80px);
}
}
.t1bll7bi {
    height: 100%;
    padding-right: .775rem!important;
}
/* *, :after, :before {
    box-sizing: inherit;
} */
/* div {
    display: block;
} */

.t19d9dlz {
  height: 100%;
  overflow-y: auto;
  padding-right: .775rem;
  font-size: 1rem;
}

@media (min-width: 768px){
  .clzffr2 {
    font-size: 1.125rem;
}
}
.clzffr2 {
  line-height: 1.7;
  margin: 0 auto;
  letter-spacing: .0075rem;
}
/* @media (min-width: 768px){
  .clzffr2 p {
    margin-bottom: 1.55rem;
}
} */
.clzffr2 ol, .clzffr2 p, .clzffr2 ul {
  color: lightslategrey;
}
address, dd, dl, fieldset, figure, form, hgroup, iframe, noscript, p {
  padding: 0;
  margin: 0 0 1.1625rem;
}
.panda {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.ce67nqb>div {
  padding: 1.0333rem 1.55rem;
  font-size: 1rem;
}
@media (min-width: 550px){
  .c1my6hgs {
    display: block;
}
}
.c1my6hgs {
  background: lightblue;
  /* position: sticky; */
  bottom: -1px;
  width: 100%;
  /* margin-top: auto; */
  display: none;
  border-top: 1px solid lightblue;
}
.c1my6hgs:before {
  content: "";
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom,rgba(var(--c1e2586cc),0) 0,var(--ce3b5c9c7) 99%);
  position: absolute;
  left: 0;
  /* top: -61px; */
}

.c5ibsv8 {
  /* margin-top: .5167rem; */
  margin-bottom: 0;
  color: lightslategrey;
}


/* check round 3 page 3 */
.check3{
  background-color: blueviolet;
}
#check33 {
  position: relative;
  overflow: hidden;
  /* border-radius: 7rem; */
}
@media only screen and (max-width: 1000px) {
  #check33 {
    border-radius: 0;
  }
}

.slider {
  display: flex;
  width: 500%;
  height: 55rem;
  transition: all 0.25s ease-in;
  transform: translateX(0);
}
@media only screen and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
}
.slider .box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 650px) {
  .slider .box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.slider .box .bg {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 55%;
  transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  transform-origin: 0 100%;
}
@media only screen and (max-width: 800px) {
  .slider .box .bg {
    width: 65%;
  }
}
@media only screen and (max-width: 650px) {
  .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 54%;
    transform: skewX(0deg);
  }
}
.slider .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  transform: skewX(10deg);
}
@media only screen and (max-width: 650px) {
  .slider .box .bg::before {
    width: 120%;
    bottom: 0;
    transform: skewX(0deg);
  }
}
.slider .box .details {
  padding: 3rem;
  padding-left: 9rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}
@media only screen and (max-width: 650px) {
  .slider .box .details {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    text-align: center;
    padding: 1rem;
    transform: translateY(-7rem);
  }
}
.slider .box .details h1 {
  color: rgb(219, 120, 62);
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.slider .box .details p {
  display: inline-block;
  font-size: 1.1rem;
  color: #B5B4B4;
  margin-bottom: 2rem;
  margin-right: 5rem;
}
@media only screen and (max-width: 800px) {
  .slider .box .details p {
    margin-right: 0;
  }
}
.slider .box .details button {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.slider .box .details button:hover {
  opacity: 1.8;
}
.slider .box .details button:focus {
  outline: none;
  border: none;
}
.slider .box1 {
  background-color: blueviolet;
}
.slider .box1 .illustration .inner {
  background-color: #FF0077;
}
.slider .box1 .illustration .inner::after, .slider .box1 .illustration .inner::before {
  background-color: rgba(255, 0, 119, 0.4);
}
.slider .box1 button {
  background-color: #FF4E00;
}
.slider .box2 {
  background-color: blueviolet;
}
.slider .box2 .illustration .inner {
  background-color: #0033FF;
}
.slider .box2 .illustration .inner::after, .slider .box2 .illustration .inner::before {
  background-color: rgba(0, 51, 255, 0.4);
}
.slider .box2 button {
  background-color: #FF4E00;
}
.slider .box3 {
  background-color: blueviolet;
}
.slider .box3 .illustration .inner {
  background-color: #00FF44;
}
.slider .box3 .illustration .inner::after, .slider .box3 .illustration .inner::before {
  background-color: rgba(0, 255, 68, 0.4);
}
.slider .box3 button {
  background-color: #FF4E00;
}
.slider .box4 {
  background-color: blueviolet;
}
.slider .box4 .illustration .inner {
  background-color: #FF4E00;
}
.slider .box4 .illustration .inner::after, .slider .box4 .illustration .inner::before {
  background-color: rgba(255, 78, 0, 0.4);
}
.slider .box4 button {
  background-color: #FF4E00;
}
.slider .box5 {
  background-color: blueviolet;
}
.slider .box5 .illustration .inner {
  background-color: #8000FF;
}
.slider .box5 .illustration .inner::after, .slider .box5 .illustration .inner::before {
  background-color: rgba(128, 0, 255, 0.4);
}
.slider .box5 button {
  background-color: #FF4E00;
}
.slider .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
}
@media only screen and (max-width: 650px) {
  .slider .illustration {
    grid-row: 1/span 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider .illustration div {
  height: 25rem;
  width: 18rem;
  border-radius: 3rem;
  background-color: #FF0077;
  position: relative;
  transform: skewX(-10deg);
}
@media only screen and (max-width: 800px) {
  .slider .illustration div {
    height: 20rem;
    width: 15rem;
  }
}
.slider .illustration div::after, .slider .illustration div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
}
.slider .illustration div::after {
  transform: translate(4rem, -1rem);
}
.slider .illustration div::before {
  transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
  z-index: 10000;
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 650px) {
  .prev,
.next {
    display: none;
  }
}
.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
@media only screen and (max-width: 650px) {
  .trail {
    width: 90%;
    bottom: 5%;
  }
}
.trail div {
  padding: 2rem;
  border-top: 3px solid #fff;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}
.trail div:hover {
  opacity: 0.6;
}
@media only screen and (max-width: 650px) {
  .trail div {
    padding: 1rem;
   
  }
}

.active {
  opacity: 1 !important;
}

/* badges */
/* Wrapper */
.wrapper {
  width: 90%;
	/* max-width: 900px; */
	/* margin: 3em auto; */
	text-align: center;

}

/* Badge */
.badge {
	margin: 1.5em 3em;
	width: 6.4em;
	height: 6.4em;
	border-radius: 20%;
	display: inline-block;
	top: 0;
	transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
}

.rounded {
  width: 70px;
	height: 70px;
  background: blueviolet;
  position: absolute;
  margin: 15px 16px auto;
  z-index: 10;
	border-radius: 30%;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
  
}
.rounded  i.fab {
  font-size: 2.6em;
  margin-top: 16px;
}

/* Colors */
.blue {
    background: dodgerblue;
    color: deepskyblue;
}

.orange {
  background: darkorange;
  color: orange;
}

.gold {
  background: gold;
  color: gold;
}

.steel {
  background: steelblue;
  color: gold;
}

.rebecca {
  background: white;
  color: white;
}

/* message-arrow  */
.message-arrow{
  margin-left: 75%;
  margin-top: 4%;
  
}